@font-face {
  font-family: atariFont;
  src: url(assets/atarian_bold.ttf);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  -webkit-user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

body {
  background-color: #162780;
  font-family: sans-serif;
}

.header,
.body-container,
.game-icons,
.game-info {
  display: flex;
  align-items: center;
}

.header {
  color: #ffd700;
  height: 10vh;
  font-size: 6vh;
  font-family: atariFont;
  margin-bottom: 2vh;

  justify-content: center;
}

.body-container,
.game-info {
  flex-direction: column;
}

.body-container {
  color: #d3d3d3;
  font-size: 2vh;
}

.body-container,
button {
  font-weight: 800;
}

.game-icons {
  text-align: center;
  gap: 10vh;
}

.g-btn {
  margin: 3vh 1.5vh;
  background-color: #d3d3d3;
}

img,
.g-btn {
  width: 15vh;
  height: 15vh;
}

.g-img {
  width: 5vh;
  height: 5vh;
}

.game-info {
  gap: 1.5vh;
}

.choice {
  font-size: 3vh;
}

p {
  margin-bottom: 0.5em;
}

.init {
  padding: 2vh;
}

button {
  background-color: #d3d3d3;
}
